<section id="i-am">
  <noscript>
    <b>Warning: without JavaScript, this website will not work!</b>
    <style>
      #strings {
        position: initial !important;
        top: initial !important;
      }
    </style>
  </noscript>
  <h1>Hi! I'm Giorgio.</h1>
  <h2>A&nbsp;<span id="typed"></span></h2>
  <div id="strings">
    <h2>Software Engineer</h2>
    <h2>Developer Advocate</h2>
    <h2><img src="images/google-g.svg" id="google-g" alt="Google" title="Google"><span>&nbsp;Certified Mobile Web Specialist</span></h2>
    <h2>Graphic Designer</h2>
    <h2>Musician in free time</h2>
  </div>
  <h2 id="since-2004">trying to make the web a better&nbsp;place&nbsp;<a
            id="since-2004-link"
            href="https://translate.google.com/translate?js=n&sl=it&tl=en&u=https://web.archive.org/web/20101103024916/http://www.w3schools.it:80/"
            target="since-2004"
            rel="nofollow">since&nbsp;2004</a>.</h2>
  <svg id="scroll-down" viewBox="0 0 24 24">
    <path d="M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z"/>
  </svg>
</section>
