<body>
  <noscript>
    <b>Warning: without JavaScript, this website will not work!</b>
    <style>
      #strings {
        position: initial !important;
        top: initial !important;
      }
    </style>
  </noscript>
  <main>
    <%- include home -%>
    <section id="page" hidden>
      <div id="header">
        <a id="back" href="/home" aria-label="back">
          <svg tabindex="-1" viewBox="0 0 24 24">
            <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"/>
          </svg>
        </a>
        <h2 id="title">About me</h2>
      </div>
      <hr>
      <%- include sections/about -%>
    </section>
  </main>
</body>
