<body>
  <noscript>
    <b>Warning: without JavaScript, this website will not work!</b>
    <style>
      #strings {
        position: initial !important;
        top: initial !important;
      }
    </style>
  </noscript>
  <main>
    <%- include home -%>
    <%- include pages -%>
  </main>
</body>
