<body <%- data.page === 'home' ? '' : 'class="blocked"' %>>
  <noscript>
    <style>
      #strings {
        position: initial !important;
        top: initial !important;
      }
    </style>
  </noscript>
  <main>
    <%- await include('home') %>
    <%- await include('pages') %>
  </main>
</body>
