<div class="content" id="skills" <%- data.page === 'skills' ? '' : 'hidden' %>>
  <div class="loading-container">
    <div class="loading"></div>
  </div>
  <div class="content-boundaries skills-container" hidden>
    <article>
      <h3>Coding</h3>
      <div>
        <section>
          <h4>Languages I feel most confident with</h4>
          <div id="most-confident-langs"></div>
        </section>
        <section>
          <h4>Languages I use the most</h4>
          <div id="most-used-langs"></div>
        </section>
      </div>
    </article>
    <article>
      <h3>Music</h3>
      <div id="most-confident-music"></div>
    </article>
    <article>
      <h3>Soft skills</h3>
      <div id="most-confident-soft-skills"></div>
    </article>
  </div>
</div>
