{
  "github": {
    "token": ""
  },
  "recaptcha": {
    "secret": ""
  },
  "mail": {
    "to": "",
    "host": "",
    "port": 0,
    "secure": false,
    "auth": {
      "user": "",
      "id": "",
      "secret": "",
      "token": ""
    }
  }
}
