node_modules/
dist/
functions/lib/
functions/index.hbs
functions/.runtimeconfig.json
.firebase*
.env
*.log
.scripts-compiled/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
