<body <%- data.page === 'home' ? '' : 'class="blocked"' %>>
  <noscript>
    <style>
      #strings-container {
        height: 100% !important;
        position: initial !important;
        top: initial !important;
      }

      #strings {
        list-style: none;
      }
    </style>
  </noscript>
  <main>
    <section id="home" <%- data.page === 'home' ? '' : 'aria-hidden="true"' %>>
      <% if (data.page === 'home') { %>
        <%- await include('home') %>
      <% } else { %>
        <div class="loading-container">
          <div class="loading"></div>
        </div>
      <% } %>
    </section>

    <%- await include('pages') %>
  </main>
</body>
