@import '../variables';

.content#about {
  #age {
    display: inline-block;
    width: 7.55rem;
  }

  #propic-container {
    position: relative;
    width: 7rem;
    height: 8.5rem;
    float: right;
    margin: 1rem;

    > #propic {
      top: 0;
      left: 0;
      width: 7rem;
      height: 8.5rem;
      transform-origin: center 0.4rem;
      transform: rotate(-1deg);
      will-change: transform;
      animation: 3s propic-swing ease-in-out;
      box-shadow: 0 0 0.05rem rgba($theme-black, 0.5);

      img#me-vintage {
        position: absolute;
        top: 0.6rem;
        left: 0.4rem;
        width: calc(100% - 0.8rem);
        height: calc(100% - 0.8rem);
        object-fit: cover;
      }

      img#polaroid-frame {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    > img#pin {
      position: absolute;
      top: -1.2rem;
      left: 2rem;
      width: 1.5rem;
    }
  }

  #timeline {
    > h2 {
      text-align: center;
      font-size: 1.17em;
    }

    > ul {
      list-style: none;
      padding: 0;
      margin: 0;

      > li {
        position: relative;
        display: flex;

        &:last-child .events > li:last-child::after {
          background: linear-gradient(
            180deg,
            var(--theme-color) 0%,
            var(--theme-content-background) 75%
          );
        }

        @media (min-width: 47.5rem) {
          .year {
            flex: 0 0 calc(50% - 2rem);
          }

          &:nth-child(even) {
            flex-direction: row-reverse;

            .year {
              text-align: left;
            }

            .events {
              text-align: right;

              > li {
                flex-direction: row-reverse;

                &.no-icon {
                  &::before {
                    left: unset;
                    right: 0.75rem;
                  }

                  .event-content {
                    padding: 0 2rem 0 0;
                  }
                }

                &::after {
                  left: unset;
                  right: 0.975rem;
                }
              }
            }
          }
        }
      }

      .year {
        flex: 0 0 2.5rem;
        text-align: right;
        margin: 0.35rem 0.5rem;
        font-weight: 200;
        font-size: 0.9rem;

        > span {
          position: sticky;
          top: 1rem;
          right: 0;
        }
      }

      .events {
        flex: 1 1 auto;
        list-style: none;
        padding: 0;

        > li {
          display: flex;
          position: relative;
          min-height: 6rem;

          &.no-icon .event-content {
            padding-left: 2rem;
          }

          &::after {
            content: '';
            background: var(--theme-color);
            position: absolute;
            top: 2rem;
            left: 0.975rem;
            width: 0.05rem;
            height: calc(100% - 2rem);
            z-index: -1;
          }

          &.no-icon::after {
            top: 0;
            height: 100%;
          }

          &.no-icon::before {
            content: '';
            background: var(--theme-color);
            position: absolute;
            top: 0.75rem;
            left: 0.75rem;
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
          }
        }

        .event-icon {
          flex: 0 0 2rem;
          height: 2rem;
          border-radius: 50%;
          fill: var(--theme-color);
          border: 0.1rem solid var(--theme-color);

          > svg {
            width: 100%;
            padding: 0.4rem;

            &.icon-fill {
              stroke: none;

              @media not all and (light-level: washed),
                not all and (prefers-color-scheme: light) {
                > * {
                  fill: #fff;
                }
              }
            }

            &.icon-stroke {
              fill: none;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-width: 1.5;

              @media not all and (light-level: washed),
                not all and (prefers-color-scheme: light) {
                > * {
                  stroke: #fff;
                }
              }
            }
          }
        }

        .event-content {
          flex: 1 1 auto;
          margin: 0.35rem 0.5rem;

          h4 {
            font-size: 0.9rem;
            font-weight: 400;
            margin: 0;
          }

          p {
            font-size: 0.9rem;
            padding: 0;
          }

          time {
            font-size: 0.7rem;
            font-weight: 200;
          }
        }
      }
    }
  }

  #resume-form {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;

    > p {
      margin: 0;
    }

    > button {
      color: var(--theme-color);
      font-size: 0.75rem;
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
      color: var(--theme-accent);

      &:hover {
        background: var(--theme-card-background);
      }
    }

    > #resume-error {
      color: var(--theme-red);
    }
  }
}

@keyframes propic-swing {
  0% {
    transform: rotate(12deg);
  }

  20% {
    transform: rotate(-12deg);
  }

  40% {
    transform: rotate(4deg);
  }

  60% {
    transform: rotate(-4deg);
  }

  80% {
    transform: rotate(1deg);
  }

  100% {
    transform: rotate(-1deg);
  }
}
