@use '../variables';

.content#certifications {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.certification {
  background: var(--theme-card-background);
  width: 25.5rem;
  margin: 1rem;
  color: var(--theme-color);
  transition: 0.3s transform;

  &:hover,
  &:focus {
    text-decoration: none;
    transform: scale(1.05);
  }

  img {
    width: 25.5rem;
    height: 18rem;
    object-fit: cover;
    background-size: cover;
    display: block;
  }

  > h2 {
    text-align: center;
    margin: 0 0.5rem;
    font-size: 1em;
  }

  > h3 {
    text-align: center;
    margin: 0 0.5rem 0.5rem;
    font-size: 0.7em;
    font-weight: 400;
  }

  @media (min-width: 47.5rem) {
    width: 17rem;

    img {
      width: 17rem;
      height: 12rem;
    }
  }
}
