@use 'sass:map';
@use '../variables';

$socials: () !default;

.content#contacts {
  #contact-form {
    position: relative;
    transition: 0.9s transform;
    transition-delay: 0.5s;
    font-family: 'Mansalva';

    > #contact-error {
      position: absolute;
      text-align: center;
      top: 15.5rem;
      left: 50%;
      transform: translateX(-50%);
      color: var(--theme-red);
      z-index: 2;
      display: none;
    }

    > #sent-stamp {
      position: absolute;
      top: 15rem;
      left: 6rem;
      width: 6rem;
      height: 6rem;
      z-index: -1;
      transition:
        0.3s transform,
        0.3s opacity;
      transition-delay: 1.4s;
      opacity: 0;
      transform: scale(4);
      transform-origin: 0.5rem 1rem;
    }

    > #letter-zip {
      position: absolute;
      top: 13.6rem;
      left: 0;
      width: 100%;
      max-width: 32rem;
      pointer-events: none;
      transform-origin: top center;
      transform: rotateX(-180deg);
      transition:
        1s transform,
        0.2s z-index step-end;
      transition-delay: 0.4s;
      z-index: 0;
    }

    > #letter-content {
      position: absolute;
      padding: 1rem 1.5rem;
      top: 14.4rem;
      left: 0;
      width: 100%;
      height: calc(80vw - 2rem);
      max-height: 22.4rem;
      background: var(--theme-card-background);
      border-bottom-left-radius: 6.6rem 0.9rem;
      border-bottom-right-radius: 0.7rem 7.3rem;
      border-top-left-radius: 4.5rem 0.9rem;
      border-top-right-radius: 0.4rem 7.3rem;
      font-size: 0.9rem;
      transform-origin: top center;
      transform: translateY(-12rem);
      transition: 1s transform;

      input,
      textarea {
        min-width: 1em;
        color: var(--theme-color);
        font-family: 'Mansalva';
        font-size: 0.9rem;
        background: none;
        outline: none;
        resize: none;
        border: none;
        border-bottom: 0.05rem solid var(--theme-color);
        border-left: 0.05rem solid var(--theme-card-background);
        margin-left: -0.05rem;
        border-bottom-left-radius: 0.5rem 9.1rem;
        border-bottom-right-radius: 8rem 0.5rem;
      }

      .full-width-input {
        display: flex;

        > span {
          flex: 0 0 auto;
        }

        > input {
          flex: 1 1 auto;
        }
      }

      #hi {
        margin-bottom: 0.6rem;

        @media (min-width: 26.25rem) {
          margin-bottom: 0.9rem;
        }
      }

      #sincerely {
        margin-top: 0.6rem;

        @media (min-width: 26.25rem) {
          margin-top: 0.9rem;
        }
      }

      textarea[name='message'] {
        width: 100%;
        height: 3em;

        @media (min-width: 26.25rem) {
          height: 4rem;
        }
      }

      input[name='name'] {
        width: 14em;
      }

      button {
        appearance: none;
        outline: none;
        border: 0.05rem solid var(--theme-color);
        color: var(--theme-color);
        background: var(--theme-card-background);
        border-bottom-left-radius: 0.5rem 8rem;
        border-bottom-right-radius: 0.7rem 7.3rem;
        border-top-left-radius: 1rem 4.5rem;
        border-top-right-radius: 3.6rem 1.1rem;
        padding: 0.3rem 0.5rem;
        font-size: 1rem;
        font-family: 'Mansalva';
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        transition:
          0.3s background-color,
          0.3s color;

        &:hover,
        &:focus,
        &:active {
          background: var(--theme-color);
          color: var(--theme-card-background);
        }
      }
    }

    > #letter {
      position: absolute;
      top: 14.6rem;
      left: 0;
      width: 100%;
      margin-bottom: 1rem;
      pointer-events: none;
    }

    > #socials {
      position: absolute;
      top: 29rem;
      left: 0;
      width: 100%;
      text-align: center;

      @media (min-width: 26.25rem) {
        top: 29.5rem;
      }

      @media (min-width: 47.5rem) {
        top: 31rem;
      }

      > p {
        text-align: center;
        padding: 0;
        margin: 0.75em 0 0.5em;
        font-size: 0.67em;
        font-weight: bold;
      }

      > ul {
        list-style: none;
        margin: 0;
        padding: 0;

        > li {
          display: inline-block;
          margin: 0 0.15rem;

          > a {
            display: inline-block;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            border: 0.05rem solid var(--theme-color);
            transition: 0.3s transform;

            &:hover,
            &:active,
            &:focus {
              text-decoration: none;
              transform: scale(1.05);
            }

            > img {
              width: 100%;
              height: 100%;
              padding: 0.5rem;
            }

            @each $social in $socials {
              &[target=#{map.get($social, 'id')}] {
                background: map.get($social, 'background');
              }
            }
          }
        }
      }
    }

    &.sending,
    &.sent,
    &.errored {
      > #letter-zip {
        transform: rotateX(0);
        z-index: 1;
      }

      > #letter-content {
        transform: translateY(0);
      }
    }

    &.sent {
      transform: translateY(-10rem);

      > #sent-stamp {
        opacity: 1;
        transform: scale(1);
        z-index: 2;
      }
    }

    &.errored {
      > #contact-error {
        display: block;
      }
    }
  }
}
