@import '../variables';

.skills-container {
  > article {
    > div {
      display: grid;
      grid-template-rows: 1fr;
      gap: 1rem;
    }
  }

  #most-used-langs {
    width: 66%;
    margin: 0 auto;
  }
}
