$theme-black: #000;
$theme-gray: #f0f0f0;
$theme-white: #fff;
$theme-red: #dd2c00;
$theme-green: #2e7d32;
$theme-blue: #01579b;
$theme-pink: #d81b60;
$theme-purple: #6a1b9a;
$theme-yellow: #f9a825;

$theme-color: $theme-black;
$theme-accent: $theme-red;
$theme-default-background: $theme-gray;
$theme-content-background: $theme-white;
