.page[data-page="about-me"] {
  #age {
    display: inline-block;
    width: 6.85rem;
  }

  #propic {
    width: 6rem;
    height: 8rem;
    object-fit: cover;
    float: right;
    border: .5rem solid var(--theme-white);
    box-shadow: 0 0 .05rem rgba(var(--theme-black), .5);
    margin: 1rem;
    transform: rotateZ(-5deg);
  }
}
