#home {
  > div {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--theme-content-background);
    z-index: 1;
    box-shadow: 0 0.06rem 0.065rem 0 rgba(0, 0, 0, 0.14),
      0 0.003rem 0.15rem 0 rgba(0, 0, 0, 0.12),
      0 0.09rem 0.0035rem -0.065rem rgba(0, 0, 0, 0.2);
  
    > h1 {
      font-size: 3rem;
      font-weight: 600;
      margin: 0.6rem 0;
    }
  
    > h2 {
      font-size: 1.4rem;
      font-weight: 300;
      margin: 0.2rem 0;
      height: 2.4rem;
      display: flex;
      align-items: center;

      > #typed {
        display: inline-flex;
        width: 20.25rem;
        text-align: left;
        align-items: center;

        > #google-g {
          width: 1.4rem;
          height: 1.4rem;
        }
      }
    }

    > #strings {
      position: fixed;
      top: -9999rem;
    }

    > #scroll-down {
      position: absolute;
      left: calc(50% - 1.5rem);
      bottom: 1rem;
      width: 3rem;
      height: 3rem;
      will-change: transform;
      animation: 1s up-down infinite alternate ease-in-out;
    }
  }
}

@keyframes up-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(0.5rem);
  }
}
