@import './variables';

html {
  --theme-color: #{$light-theme-color};
  --theme-accent: #{$light-theme-accent};
  --theme-default-background: #{$light-theme-default-background};
  --theme-content-background: #{$light-theme-content-background};

  @media (light-level: dim), (prefers-color-scheme: dark) {
    --theme-color: #{$dark-theme-color};
    --theme-accent: #{$dark-theme-accent};
    --theme-default-background: #{$dark-theme-default-background};
    --theme-content-background: #{$dark-theme-content-background};
  }
}

a {
  color: var(--theme-accent);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

body.blocked {
  overflow: hidden;
}

// Yeah, I know I shouldn't use important,
// but in this case it is REALLY important
[hidden] {
  display: none !important;
}

[aria-hidden='true'] {
  visibility: hidden !important;
}

hr {
  width: calc(100% - 6rem);
  border: 0;
  padding: 0.025rem;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.12);
}

#home > div,
nav,
.content {
  padding: 1rem;
}

p {
  text-align: justify;
  margin: 0 auto;
  padding: 1rem 0;
  font-weight: 400;
  font-size: 1.1rem;
}

@import './home';
@import './pages';
