@import './variables';

html {
  opacity: 1;
}

a {
  color: var(--theme-accent);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

hr {
  width: calc(100% - 6rem);
  border: 0;
  padding: 0.025rem;
  margin: 0 auto;
  background-color: rgba($theme-black, 0.12);
}

#home > div,
nav,
.content {
  padding: 1rem;
}

p {
  text-align: justify;
  margin: 0 auto;
  padding: 1rem 0;
  font-weight: 400;
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.75em 0 0.5em;
}

@import './home';
@import './pages';
