<div class="content" id="about" <%- data.page === 'about' ? '' : 'hidden' %>>
  <div class="content-boundaries">
    <div id="propic-container">
      <div id="propic">
        <picture>
          <source srcset="images/me-vintage.webp" type="image/webp">
          <source srcset="images/me-vintage.jpg" type="image/jpeg">
          <img id="me-vintage" src="images/me-vintage.jpg" alt="Me" title="Me">
        </picture>
        <img id="polaroid-frame" src="images/polaroid-frame.svg" alt="">
      </div>
      <img id="pin" src="images/pin.svg" alt="">
    </div>
    <p>My name is Giorgio Garasto and I'm <span id="age"><%= data.age %></span> years old.</p>
    <p>
      I put my hands on HTML for the first time when I was seven years old to help my father, 
      and I've never stopped playing with it since then. The passion for web developing 
      influenced both my work and study choices and brought me to gain a 
      <a href="https://www.udacity.com/grow-with-google" rel="external" target="scholarship">scholarship</a> 
      from Google and Udacity that gave me the chance to obtain the 
      <a href="https://developers.google.com/training/certification/mobile-web-specialist" rel="external" target="mws">Mobile Web Specialist</a> certification.
    </p>
    <p>
      At work, I gained a vast experience in front end development by means of libraries and frameworks such as 
      <a href="https://reactjs.org" rel="external" target="react">React</a> and <a href="https://angular.io" rel="external" target="angular">Angular</a>, 
      as well as using native technologies, like Web Components and Service Workers. 
      On the back end side, I mainly use <a href="https://nodejs.org" rel="external" target="nodejs">Node.js</a> 
      and <a href="https://golang.org" rel="external" target="golang">Golang</a>. Outside the working world, I like devoting 
      myself to music. I love playing guitar and singing, but I do dabble also with piano and drums.
    </p>
    <p>
      Right now, I'm working as a Software Engineer at 
      <a href="https://molo17.com" rel="external" target="company-link">MOLO17</a>, a company based 
      in Italy with more than 20 employees whose goal is to build cutting-edge mobile and web applications.
    </p>
    <p>
      I also have a bunch of open source projects, which you can check out 
      <a href="/projects">in the projects section</a>.
    </p>
  </div>
</div>
