<div class="content" id="contacts" {{contacts}}>
  <form id="contact-form">
    <input placeholder="Name" name="name">
    <input type="email" placeholder="Email" name="email">
    <input placeholder="Subject" name="subject">
    <textarea placeholder="Message" name="message"></textarea>
    <button class="g-recaptcha" data-sitekey="6LcULLwUAAAAAE_M-jUN-D-gX2SQ4uzODS4uxneH" data-theme="dark" data-callback="__recaptchaCallback">Submit</button>
  </form>
</div>
