#typed {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 1.95rem;
}

#typed > li {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  align-items: center;
  font-family: 'Jost*';
  font-weight: 300;
  white-space: nowrap;
  width: 0;
  overflow: hidden;
}

#typed > li:nth-child(1) {
  animation: typewriter-phrase-1 27.72s steps(1, end) infinite;
}

@keyframes typewriter-phrase-1 {
  0%,
  100% {
    width: 0;
    visibility: hidden;
  }
  // S
  0.325% {
    width: 0.5em;
    visibility: visible;
  }
  14.683% {
    width: 0.5em;
    visibility: hidden;
  }
  // o
  0.649%,
  14.574% {
    width: 1.1em;
  }
  // f
  0.974%,
  14.466% {
    width: 1.364em;
  }
  // t
  1.299%,
  14.358% {
    width: 1.57em;
  }
  // w
  1.623%,
  14.25% {
    width: 2.22em;
  }
  // a
  1.948%,
  14.141% {
    width: 2.7em;
  }
  // r
  2.273%,
  14.033% {
    width: 3em;
  }
  // r
  2.597%,
  13.925% {
    width: 3.5em;
  }
  // <space>
  2.922%,
  13.817% {
    width: 3.8em;
  }
  // E
  3.247%,
  13.709% {
    width: 4.4em;
  }
  // n
  3.571%,
  13.6% {
    width: 4.8em;
  }
  // g
  3.896%,
  13.492% {
    width: 5.4em;
  }
  // i
  4.221%,
  13.384% {
    width: 5.6em;
  }
  // n
  4.545%,
  13.276% {
    width: 6.1em;
  }
  // e
  4.87%,
  13.167% {
    width: 6.7em;
  }
  // e
  5.195%,
  13.059% {
    width: 7.2em;
  }
  // r
  5.519%,
  12.951% {
    width: 7.5em;
  }
}

#typed > li:nth-child(2) {
  animation: typewriter-phrase-2 27.72s steps(1, end) infinite;
}

@keyframes typewriter-phrase-2 {
  0%,
  14.574%,
  100% {
    width: 0;
    visibility: hidden;
  }
  // G
  14.899% {
    width: 1.3em;
    visibility: visible;
  }
  36.183% {
    width: 1.3em;
    visibility: hidden;
  }
  // <space>
  15.224%,
  36.075% {
    width: 1.3em;
  }
  // C
  15.548%,
  35.967% {
    width: 2em;
  }
  // e
  15.873%,
  35.859% {
    width: 2.5em;
  }
  // r
  16.198%,
  35.75% {
    width: 2.8em;
  }
  // t
  16.522%,
  35.642% {
    width: 3em;
  }
  // i
  16.847%,
  35.534% {
    width: 3.3em;
  }
  // f
  17.172%,
  35.426% {
    width: 3.6em;
  }
  // i
  17.496%,
  35.317% {
    width: 3.8em;
  }
  // e
  17.821%,
  35.209% {
    width: 4.3em;
  }
  // d
  18.146%,
  35.101% {
    width: 4.9em;
  }
  // M
  18.47%,
  34.993% {
    width: 5.2em;
  }
  // o
  18.795%,
  34.885% {
    width: 6em;
  }
  // b
  19.12%,
  34.776% {
    width: 6.5em;
  }
  // i
  19.444%,
  34.668% {
    width: 7.1em;
  }
  // l
  19.769%,
  34.56% {
    width: 7.3em;
  }
  // e
  20.094%,
  34.452% {
    width: 7.5em;
  }
  20.418%,
  34.343% {
    width: 8em;
  }
  20.743%,
  34.235% {
    width: 8.3em;
  }
  // W
  21.068%,
  34.127% {
    width: 9.25em;
  }
  // e
  21.392%,
  34.019% {
    width: 9.8em;
  }
  // b
  21.717%,
  33.911% {
    width: 10.4em;
  }
  // <space>
  22.042%,
  33.802% {
    width: 10.5em;
  }
  // S
  22.367%,
  33.694% {
    width: 11.1em;
  }
  // p
  22.691%,
  33.586% {
    width: 11.7em;
  }
  // e
  23.016%,
  33.478% {
    width: 12.2em;
  }
  // c
  23.341%,
  33.369% {
    width: 12.7em;
  }
  // i
  23.665%,
  33.261% {
    width: 12.9em;
  }
  // a
  23.99%,
  33.153% {
    width: 13.4em;
  }
  // l
  24.315%,
  33.045% {
    width: 13.6em;
  }
  // i
  24.639%,
  32.937% {
    width: 13.8em;
  }
  // s
  24.964%,
  32.828% {
    width: 14.2em;
  }
  // t
  25.289%,
  32.72% {
    width: 14.5em;
  }
}

#typed > li:nth-child(3) {
  animation: typewriter-phrase-3 27.72s steps(1, end) infinite;
}

@keyframes typewriter-phrase-3 {
  0%,
  36.075%,
  100% {
    width: 0;
    visibility: hidden;
  }
  // C
  36.4% {
    width: 0.7em;
    visibility: visible;
  }
  50.325% {
    width: 0.7em;
    visibility: hidden;
  }
  // l
  36.724%,
  50.216% {
    width: 0.9em;
  }
  // o
  37.049%,
  50.108% {
    width: 1.5em;
  }
  // u
  37.374%,
  50% {
    width: 1.9em;
  }
  // d
  37.698%,
  49.892% {
    width: 2.5em;
  }
  // <space>
  38.023%,
  49.784% {
    width: 2.8em;
  }
  // T
  38.348%,
  49.675% {
    width: 3.2em;
  }
  // e
  38.672%,
  49.567% {
    width: 3.7em;
  }
  // c
  38.997%,
  49.459% {
    width: 4.2em;
  }
  // h
  39.322%,
  49.351% {
    width: 4.7em;
  }
  // n
  39.646%,
  49.242% {
    width: 5.2em;
  }
  // i
  39.971%,
  49.134% {
    width: 5.4em;
  }
  // c
  40.296%,
  49.026% {
    width: 5.9em;
  }
  // i
  40.62%,
  48.918% {
    width: 6.1em;
  }
  // a
  40.945%,
  48.81% {
    width: 6.5em;
  }
  // n
  41.27%,
  48.701% {
    width: 7.2em;
  }
}

#typed > li:nth-child(4) {
  animation: typewriter-phrase-4 27.72s steps(1, end) infinite;
}

@keyframes typewriter-phrase-4 {
  0%,
  50.216%,
  100% {
    width: 0;
    visibility: hidden;
  }
  // D
  50.541% {
    width: 0.7em;
    visibility: visible;
  }
  65.332% {
    width: 0.7em;
    visibility: hidden;
  }
  // e
  50.866%,
  65.224% {
    width: 1.15em;
  }
  // v
  51.19%,
  65.115% {
    width: 1.6em;
  }
  // e
  51.515%,
  65.007% {
    width: 2.1em;
  }
  // l
  51.84%,
  64.899% {
    width: 2.3em;
  }
  // o
  52.165%,
  64.791% {
    width: 2.9em;
  }
  // p
  52.489%,
  64.683% {
    width: 3.4em;
  }
  // e
  52.814%,
  64.574% {
    width: 3.9em;
  }
  // r
  53.139%,
  64.466% {
    width: 4.3em;
  }
  // <space>
  53.463%,
  64.358% {
    width: 4.5em;
  }
  // A
  53.788%,
  64.25% {
    width: 5.2em;
  }
  // d
  54.113%,
  64.141% {
    width: 5.7em;
  }
  // v
  54.437%,
  64.033% {
    width: 6.15em;
  }
  // o
  54.762%,
  63.925% {
    width: 6.7em;
  }
  // c
  55.087%,
  63.817% {
    width: 7.2em;
  }
  // a
  55.411%,
  63.709% {
    width: 7.6em;
  }
  // t
  55.736%,
  63.6% {
    width: 7.9em;
  }
  // e
  56.061%,
  63.492% {
    width: 8.4em;
  }
}

#typed > li:nth-child(5) {
  animation: typewriter-phrase-5 27.72s steps(1, end) infinite;
}

@keyframes typewriter-phrase-5 {
  0%,
  65.224%,
  100% {
    width: 0;
    visibility: hidden;
  }
  // G
  65.548% {
    width: 0.8em;
    visibility: visible;
  }
  83.802% {
    width: 0.8em;
    visibility: hidden;
  }
  // r
  65.873%,
  83.694% {
    width: 1.1em;
  }
  // a
  66.198%,
  83.586% {
    width: 1.6em;
  }
  // p
  66.522%,
  83.478% {
    width: 2.1em;
  }
  // h
  66.847%,
  83.369% {
    width: 2.6em;
  }
  // i
  67.172%,
  83.261% {
    width: 2.8em;
  }
  // c
  67.496%,
  83.153% {
    width: 3.3em;
  }
  // <space>
  67.821%,
  83.045% {
    width: 3.6em;
  }
  // D
  68.146%,
  82.937% {
    width: 4.3em;
  }
  // e
  68.47%,
  82.828% {
    width: 4.8em;
  }
  // s
  68.795%,
  82.72% {
    width: 5.2em;
  }
  // i
  69.12%,
  82.612% {
    width: 5.4em;
  }
  // g
  69.444%,
  82.504% {
    width: 6em;
  }
  // n
  69.769%,
  82.395% {
    width: 6.5em;
  }
  // e
  70.094%,
  82.287% {
    width: 7em;
  }
  // r
  70.418%,
  82.179% {
    width: 7.4em;
  }
  // <space>
  70.743%,
  82.071% {
    width: 7.6em;
  }
  // (
  71.068%,
  81.962% {
    width: 7.9em;
  }
  // s
  71.392%,
  81.854% {
    width: 8.3em;
  }
  // o
  71.717%,
  81.746% {
    width: 8.9em;
  }
  // r
  72.042%,
  81.638% {
    width: 9.2em;
  }
  // t
  72.367%,
  81.53% {
    width: 9.4em;
  }
  // <space>
  72.691%,
  81.421% {
    width: 9.7em;
  }
  // o
  73.016%,
  81.313% {
    width: 10.3em;
  }
  // f
  73.341%,
  81.205% {
    width: 10.55em;
  }
  // )
  73.665%,
  81.097% {
    width: 10.8em;
  }
}

#typed > li:nth-child(6) {
  animation: typewriter-phrase-6 27.72s steps(1, end) infinite;
}

@keyframes typewriter-phrase-6 {
  0%,
  83.694%,
  100% {
    width: 0;
    visibility: hidden;
  }
  // M
  84.019% {
    width: 0.8em;
    visibility: visible;
  }
  99.972% {
    width: 0.8em;
    visibility: hidden;
  }
  // u
  84.343%,
  99.932% {
    width: 1.3em;
  }
  // s
  84.668%,
  99.892% {
    width: 1.7em;
  }
  // i
  84.993%,
  99.784% {
    width: 1.9em;
  }
  // c
  85.317%,
  99.675% {
    width: 2.4em;
  }
  // i
  85.642%,
  99.567% {
    width: 2.6em;
  }
  // a
  85.967%,
  99.459% {
    width: 3.1em;
  }
  // n
  86.291%,
  99.351% {
    width: 3.6em;
  }
  // <space>
  86.616%,
  99.242% {
    width: 3.9em;
  }
  // i
  86.941%,
  99.134% {
    width: 4.2em;
  }
  // n
  87.266%,
  99.026% {
    width: 4.7em;
  }
  // <space>
  87.59%,
  98.918% {
    width: 5em;
  }
  // f
  87.915%,
  98.81% {
    width: 5.3em;
  }
  // r
  88.24%,
  98.701% {
    width: 5.6em;
  }
  // e
  88.564%,
  98.593% {
    width: 6.1em;
  }
  // e
  88.889%,
  98.485% {
    width: 6.6em;
  }
  // <space>
  89.214%,
  98.377% {
    width: 6.8em;
  }
  // t
  89.538%,
  98.268% {
    width: 7.1em;
  }
  // i
  89.863%,
  98.16% {
    width: 7.339em;
  }
  // m
  90.188%,
  98.052% {
    width: 8em;
  }
  // e
  90.512%,
  97.944% {
    width: 8.6em;
  }
}
