$theme-black: #000;
$theme-darker-gray: #212121;
$theme-dark-gray: #2e2e2e;
$theme-gray: #424242;
$theme-light-gray: #f0f0f0;
$theme-lighter-gray: #fafafa;
$theme-white: #fff;

$light-theme-red: #d32f2f;
$light-theme-green: #087f23;
$light-theme-teal: #00796b;
$light-theme-blue: #1976d2;
$light-theme-pink: #d81b60;
$light-theme-purple: #ab47bc;
$light-theme-yellow: #bc5100;
$light-theme-brown: #8d6e63;
$light-theme-color: $theme-black;
$light-theme-accent: $light-theme-red;
$light-theme-default-background: $theme-light-gray;
$light-theme-content-background: $theme-lighter-gray;
$light-theme-card-background: $theme-white;

$dark-theme-red: #ff5e51;
$dark-theme-green: #4caf50;
$dark-theme-teal: #48a999;
$dark-theme-blue: #63a4ff;
$dark-theme-pink: #ff5c8d;
$dark-theme-purple: #df78ef;
$dark-theme-yellow: #ffeb3b;
$dark-theme-brown: #be9c91;
$dark-theme-color: $theme-white;
$dark-theme-accent: $dark-theme-red;
$dark-theme-default-background: $theme-darker-gray;
$dark-theme-content-background: $theme-dark-gray;
$dark-theme-card-background: $theme-gray;
