@import './variables';

a {
  color: var(--theme-accent);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

hr {
  width: calc(100% - 6rem);
  border: 0;
  padding: 0.025rem;
  margin: 0 auto;
  background-color: var(--theme-separator);
}

#home > div,
nav,
.content {
  padding: 1rem;
}

p {
  text-align: justify;
  margin: 0 auto;
  padding: 1rem 0;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.75em 0 0.5em;
}

code {
  font-family: 'Dank Mono', monospace;
  white-space: nowrap;
}

.loading-container {
  width: 100%;
  height: calc(100vh - 5.55rem);
  display: flex;
  align-items: center;
  justify-content: center;

  > .loading {
    display: inline-block;
    width: 2rem;
    height: 2rem;

    &:after {
      content: '';
      display: block;
      width: 2rem;
      height: 2rem;
      margin: 1px;
      border-radius: 50%;
      border: 0.2rem solid var(--theme-accent);
      border-color: var(--theme-accent) transparent var(--theme-accent)
        transparent;
      animation: loading 1.2s linear infinite;
    }
  }
}

ul.badges {
  flex: 0 0 auto;
  margin: 0;
  padding: 0 0.75rem 0.4rem;
  list-style: none;
  white-space: nowrap;
  max-width: 100%;
  overflow-x: auto;

  > li {
    font-size: 0.75rem;
    padding: 0.25rem 0.75rem;
    background: var(--theme-content-background);
    border-radius: 0.75rem;
    display: inline-block;

    &:not(:last-child) {
      margin-right: 0.25rem;
    }
  }
}

#update-notification {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 10;
  background: var(--theme-card-background);
  transform: translate(-50%, -100%);
  transition: 0.3s transform;
  padding: 0.5rem;
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: var(--theme-shadow);

  &.shown {
    transform: translate(-50%, 0);
  }

  > p {
    font-size: 1rem;
    padding: 0;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 0.25rem;

    & > button {
      appearance: none;
      border: none;
      cursor: pointer;
      background: none;
      font-size: 0.75rem;
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;

      &:hover {
        background: var(--theme-content-background);
      }

      &#cancel-update {
        color: var(--theme-color);
        margin-right: 0.5rem;
      }

      &#perform-update {
        color: var(--theme-accent);
      }
    }
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@import './pages';
