@import './variables';

portal,
#page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  will-change: transform;
  transition: 0.3s transform;
  z-index: 2;
  box-shadow: var(--theme-shadow);

  &.closed {
    transform: translateX(100vw);
  }
}

#page {
  background: var(--theme-content-background);

  &[hidden] {
    transform: translateX(100vw);
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.55rem;
  background: var(--theme-content-background);
  z-index: 5;

  > div {
    display: flex;
    align-items: center;
    padding: 0.25rem;

    > #back {
      display: block;
      width: 3rem;
      height: 3rem;
      flex: 0 0 auto;

      > svg {
        width: 100%;
        height: 100%;
      }
    }

    > #title {
      flex: 1 1 auto;
      margin: 0 0.25rem;
      font-size: 1.25rem;
    }
  }
}

#content-container {
  padding-top: 3.55rem;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  .content {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    padding: 1rem 1.5rem;

    p {
      font-weight: 200;
    }

    .content-boundaries {
      max-width: 32rem;
      margin: 0 auto;
    }
  }
}
