<div class="content" id="about" {{about}}>
  <img id="propic" src="images/propic.jpg" alt="Me" title="Me">
  <p>My name is Giorgio Garasto, and I'm <span id="age">{{age}}</span> years old.</p>
  <p id="my-summary"></p>
  <p>Right now, I'm working as a <span id="job-title"></span> at <span id="company-name"></span>, a company with
    about <span id="company-size"></span> employees.</p>
  <p>I also have a bunch of open source projects, which you can check out <a href="/projects">in the projects section</a>.</p>
</div>
