<section class="page" data-page="about-me">
  <div class="header">
    <a class="back" href="/home" aria-label="back">
      <svg tabindex="-1" viewBox="0 0 24 24">
        <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"/>
      </svg>
    </a>
    <h2 class="title">About me</h2>
  </div>
  <hr>
  <div class="content">
    <img id="propic" src="images/propic.jpg" alt="Me" title="Me">
    <p>My name is Giorgio Garasto, and I'm <span id="age"></span> years old.</p>
    <p id="my-summary"></p>
    <p>Right now, I'm working as a <span id="job-title"></span> at <span id="company-name"></span>, a company with
      about <span id="company-size"></span> employees.</p>
    <p>I also have a bunch of open source projects, which you can check out <a href="/works">in the works section</a>.</p>
  </div>
</section>
