<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%- include icons -%>

  <title>Giorgio Garasto</title>
  <meta name="description" content="Giorgio Garasto">
  <base href="/<%= htmlWebpackPlugin.options.buildName %>/">

  <%- include critical-css -%>
  <%- include critical-js -%>
</head>
