<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">

  <%- include icons -%>

  <title>{{title}}</title>
  <meta name="description" content="{{description}}">

  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:image" content="images/propic.jpg">
  <meta property="og:image:alt" content="Giorgio Garasto">
  <meta property="og:url" content="{{url}}">

  <%- include async-css-js -%>
  <%- include critical-css -%>
  <%- include critical-js -%>
</head>
