<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">

  <%- include icons -%>

  <title>Giorgio Garasto</title>

  <%- include async-css-js -%>
  <%- include critical-css -%>
</head>
