<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">

  <%- include icons -%>

  <title>Giorgio Garasto</title>
  <meta name="description" content="Hi! I'm Giorgio, a Google certified Mobile Web Specialist, passionate developer and graphic designer.">


  <%- include async-css-js -%>
  <%- include critical-css -%>
</head>
